hardware/greybadge_pcb/jlcpcb/production_files/GERBER-greybadge_pcb.zip
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-SilkTop.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-SilkBottom.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-PTH.drl
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-PTH-drl_map.pdf
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-NPTH.drl
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-NPTH-drl_map.pdf
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-MaskTop.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-MaskBottom.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-EdgeCuts.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-CuTop.gbr
hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-CuBottom.gbr
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/__init__.py
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/bdf.mpy
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/bitmap_font.mpy
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/glyph_cache.mpy
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/lvfontbin.mpy
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/pcf.mpy
firmware/rp2350/filesystem/lib/adafruit_bitmap_font/ttf.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/bitmap_label.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/label.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/outlined_label.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/scrolling_label.mpy
firmware/rp2350/filesystem/lib/adafruit_display_text/text_box.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/consumer_control.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/consumer_control_code.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/keyboard.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/keyboard_layout_base.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/keyboard_layout_us.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/keycode.mpy
firmware/rp2350/filesystem/lib/adafruit_hid/mouse.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/bmp/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/bmp/indexed.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/bmp/negative_height_check.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/bmp/truecolor.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/displayio_types.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/gif.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/jpg.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/png.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/pbm_ascii.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/pbm_binary.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/pgm/__init__.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/pgm/ascii.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/pgm/binary.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/ppm_ascii.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/pnm/ppm_binary.mpy
firmware/rp2350/filesystem/lib/adafruit_imageload/tilegrid_inflator.mpy
firmware/rp2350/filesystem/lib/adafruit_ticks.mpy
firmware/rp2350/filesystem/lib/asyncio/__init__.mpy
firmware/rp2350/filesystem/lib/asyncio/core.mpy
firmware/rp2350/filesystem/lib/asyncio/event.mpy
firmware/rp2350/filesystem/lib/asyncio/funcs.mpy
firmware/rp2350/filesystem/lib/asyncio/lock.mpy
firmware/rp2350/filesystem/lib/asyncio/stream.mpy
firmware/rp2350/filesystem/lib/asyncio/task.mpy
firmware/rp2350/filesystem/lib/asyncio/traceback.mpy
firmware/rp2350/filesystem/lib/gc9a01.mpy
